includes:
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
    level: 10

    parallel:
        processTimeout: 90.0
        maximumNumberOfProcesses: 12

    type_coverage:
        return: 100
        param: 100
        property: 100
        declare: 100

    excludePaths:
        analyse:
            - vendor
